.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  img {
      max-height: 250px;
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  
  
  .dtl-link:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  
  .dtl-link, .add-dtl{
      text-decoration: none;
      color: rgb(15, 12, 12);
      font-size: 16px;
      padding:12px;
      text-transform: uppercase;
      
  }
  div.card{
      border-top: 1px solid grey;
      list-style: none;
      margin-top: 50px;
  }

  .product-list{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  .total {
     position: absolute;
     top: 0;
      right: 0;
  }


  .add-dtl{
      border-top: 1px solid grey;
      margin-left: 10px;
      margin-right: 10px;
  }


  .fa-info-circle:before {
      color: rgb(5, 5, 76);
      font-size: 24px;
      padding: 8px;
  }

  .fa-cart-plus:before{
    color: rgb(5, 5, 76);
    font-size: 24px;
    padding: 8px;
  }